.carousel-inner {
  height: 340px; /* 固定輪播高度 */
}


.carousel-img {
  height: 100%;
  object-fit: cover;     /* 圖片裁切 */
  object-position: center; /* 圖片置中 */
}

.carousel-indicators [data-bs-target] {
  width: 4px;
  height: 4px;
  border-radius: 50%; /* 小圓點 */
  background-color: #fff;
}

.carousel-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* 建議縮小漸層範圍，避免過大 */
  background: linear-gradient(
    to bottom,
    rgba(7, 4, 31, 0) 0%,       /* 頂端完全透明 */
    rgba(7, 4, 31, 0.75) 70%,   /* 中下段 75% 不透明度 */
    rgba(7, 4, 31, 1) 100%      /* 最底部完全不透明 */
  );
}


.carousel-gradient-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* 控制漸層範圍 */
  background: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,     /* 上面完全透明 */
    rgba(0,0,0,1) 100%    /* 最底部全黑 */
   );
}

.bg-card{
  background-color: $tertiary-900;
}

/* 基礎樣式 */
.nav.pills-static .nav-link {
  border: 1px solid transparent;
  transition: all .2s ease-in-out;
  color: #9fa6b2;                /* 你原本的 $netural-400 可替換 */
}

/* hover、checked（radio）、或主動指定 .active 都吃同一套樣式 */
.nav.pills-static .nav-link.is-active {
  border: 1px solid $netural-500;
  background-color: $tertiary-900;
  color: $white;
}

//
/* 預設箭頭透明 */
#movieCarousel .carousel-control-prev,
#movieCarousel .carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease; /* 平滑效果 */
}

/* 滑鼠移到輪播區域，顯示箭頭 */
#movieCarousel:hover .carousel-control-prev,
#movieCarousel:hover .carousel-control-next {
  opacity: 1;
}

/* 隱藏水平滾動條，但保留滾動功能 */
.overflow-auto::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.overflow-auto {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.bottom-padding-home{
  padding-bottom: 75px;
}

.right-padding{
  padding-right: 0px;
}

.letter-spacing-title{
  letter-spacing: 0.00em;
}